<form action="" method="POST" role="form">
  <legend>Form title</legend>

  <div class="form-group">
    <label for="">Height</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">Eyes</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">Weight</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">Hair</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">Education</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">Relatives</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">Debut</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">Bio</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">Real Name</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">Identity</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">Citizenship</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <div class="form-group">
    <label for="">Group</label>
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>