<form ng-submit="putMarvel()">
  <legend>Form title</legend>

  <div class="form-group">
    <label for="">Image URL</label>
    <input type="text" class="form-control" ng-model="url">
  </div>
  <div class="form-group">
    <label for="">Image Extension</label>
    <input type="text" class="form-control" ng-model="ext" value="aasdfljk">
  </div>
  <div class="form-group">
    <label for="">Height</label>
    <input type="text" class="form-control" ng-model="height" ng-init="height={{marvel.wiki.height}}"  value="{{marvel.wiki.height}}"/>
  </div>
  <div class="form-group">
    <label for="">Eyes</label>
    <input type="text" class="form-control" ng-model="eyes">
  </div>
  <div class="form-group">
    <label for="">Weight</label>
    <input type="text" class="form-control" ng-model="weight">
  </div>
  <div class="form-group">
    <label for="">Hair</label>
    <input type="text" class="form-control" ng-model="hair">
  </div>
  <div class="form-group">
    <label for="">Education</label>
    <input type="text" class="form-control" ng-model="education">
  </div>
  <div class="form-group">
    <label for="">Relatives</label>
    <input type="text" class="form-control" ng-model="relatives">
  </div>
  <div class="form-group">
    <label for="">Debut</label>
    <input type="text" class="form-control" ng-model="debut">
  </div>
  <div class="form-group">
    <label for="">Bio</label>
    <input type="text" class="form-control" ng-model="bio">
  </div>
  <div class="form-group">
    <label for="">Real Name</label>
    <input type="text" class="form-control" ng-model="realname">
  </div>
  <div class="form-group">
    <label for="">Identity</label>
    <input type="text" class="form-control" ng-model="identity">
  </div>
  <div class="form-group">
    <label for="">Citizenship</label>
    <input type="text" class="form-control" ng-model="citizenship">
  </div>
  <div class="form-group">
    <label for="">Group</label>
    <input type="text" class="form-control" ng-model="group">
  </div>
  <div class="form-group">
    <label for="">Powers</label>
    <input type="text" class="form-control" ng-model="powers">
  </div>
  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>