<h1 class="animated fadeInDownBig" id="name">{{marvels.name}}</h1>

<form ng-submit="putMarvel()">
<div class="row testing">
  <div class="col-sm-6 col-md-6 col-lg-6">
  <!-- IMAGE -->
    <label style="color: white">Image URL</label>
    <input type="text" class="form-control" ng-model="url">
    <label style="color: white">Image Extension</label>
    <input type="text" class="form-control" ng-model="ext">
    <img ng-src="{{image}}" id="image" class="animated fadeInLeftBig img-responsive"/>

    <!-- Sits below the image (bottom-left pane) -->
    <div class="animated fadeInUpBig" id="bottom-left-pane">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h4>HEIGHT
          <input type="text" class="form-control" ng-model="height">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h4>EYES
          <input type="text" class="form-control" ng-model="eyes">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h4>WEIGHT
          <input type="text" class="form-control" ng-model="weight">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h4>HAIR
          <input type="text" class="form-control" ng-model="hair">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h4>EDUCATION
          <input type="text" class="form-control" ng-model="education">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <h4>RELATIVES
          <input type="text" class="form-control" ng-model="relatives">
        </div>
      </div>
    </div>
  </div>

  <!-- Code block for the right pane -->
<div id="right-background">
  <div class="animated fadeInRightBig col-sm-6 col-md-6 col-lg-6" id="right-pane">
    <h4>DEBUT
    <input type="text" class="form-control" ng-model="debut">
    <hr>
    <h4>BIO
    <textarea class="form-control" ng-model="bio_text" />
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h4>REAL NAME
        <input type="text" class="form-control" ng-model="real_name">
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h4>IDENTITY
        <input type="text" class="form-control" ng-model="identity">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h4>CITIZENSHIP
        <input type="text" class="form-control" ng-model="citizenship">
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h4>GROUP
        <input type="text" class="form-control" ng-model="group">
      </div>
    </div>
    <hr>
    <h4>POWERS
    <textarea class="form-control" ng-model="powers" />
  </div>
</div>
</div>
<button type="submit" class="btn btn-primary pull-right">Submit</button>
</form>
