.well, .navbar, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
border-collapse: collapse !important;
background-image: none !important;
}

#image {
  width: 200%;
  height: auto;
}

#right-pane {
  /*border: 2px solid black;*/
  /*background: linear-gradient(to right, #F0141E, #AD0A1C);*/
  background: linear-gradient(to right, #BE0606, #850303);
  font-family: 'PT Sans', sans-serif;
  color: white;
}

#bottom-left-pane {
  /*border: 2px solid red;*/
  background: #110000;
  font-family: 'PT Sans', sans-serif;
  color: white;
}

div h4 p small {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#tweets {
  background: #292929;
}

/* Twitter Timeline */
.post {
  background: #292929;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin: 1em auto;
}

.post-header {
  margin: 0 0 1em;
}

.post-avatar {
  border-radius: 50%;
  float: left;
  margin-left: -3.5em;
  margin-top: -2em;
  margin-right: 1em;
}

.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

#individual {
  background: white;
}