.well, .navbar, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
border-collapse: collapse !important;
background-image: none !important;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: grey;
}

.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: grey;
}

.search-box {
  margin: 0 auto;
  width: 50%;
}

.link {
  color: white;
}
.navbar {
  background-color: rgba(0, 0, 0, .5);
  border: none;
}

body {
    height: 100%;
    background: linear-gradient(87deg, #110000 45%, #BE0606);
}

.front-image {
  width: 32%;
  display: inline-block;
  vertical-align: top;
}

.front-image-text {
  font-family: 'PT Sans', sans-serif;
  color: white;
  text-align: center;
}

.front-image img {
  width: 100%;
  height: 400px;
  vertical-align: top;
}

#name {
  color: white;
  font-family: 'PT Sans', sans-serif;
}
#image {
  width: 200%;
  height: auto;
}

#right-pane {
  font-family: 'PT Sans', sans-serif;
  color: white;
}

#bottom-left-pane {
  font-family: 'PT Sans', sans-serif;
  color: white;
}

div h4 p small {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#tweets {
  background: #292929;
}

/* Twitter Timeline */
.post {
  background: #212121;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin: 1em auto;
}

.post-header {
  margin: 0 0 1em;
}

.post-avatar {
  border-radius: 50%;
  float: left;
  margin-left: -3.5em;
  margin-top: -2em;
  margin-right: 1em;
}

.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

#individual {
  background: white;
}

input {
  color: black;
}

/*@media (max-width: 1195px) {
  body {
    background: #110000;
  }
  #right-pane {
    background: #BE0606;
  }
}*/

@media (max-width: 767px) {
  body {
    background: #110000;
  }
  #right-pane {
    background: #BE0606;
  }
}